#cart_info
  -if cart
    -if cart.line_items.blank?
      .alert.alert-info Корзина пуста
    -else
      .alert.alert-info
        В корзине
        =cart.total_line_items
        =RuPropisju.choose_plural(cart.total_line_items, "Товар", "Товара", "Товаров")
        на сумму
        =number_to_currency cart.total_amount
