= form_for @product do |f|
  =error_messages_for(@product)
  .row
    .col-md-3
      .form-group
        =f.label :name
        =f.text_field :name, class: "form-control"
    .col-md-3
      .from-group
        =f.label :discription
        =f.text_area :discription, class: "form-control"
    .col-md-3
      .from-group
        =f.label :price
        .input-group
          =f.text_field :price, class: "form-control"
          %span.input-group-addon руб
    .col-md-3
      .from-group
        =f.label :weight
        =f.text_field :weight, class: "form-control"
      .form-group
        =f.label :image
        =f.file_field :image, class: "form-control"

  .actions
    =f.submit nil, class: "btn btn-primary"

